{% extends "base.html" %}
{% block content %}
<nav>
    <a href="{{ url_for('home') }}">LABRIOS</a>
    <ul>
        <li><a href="{{ url_for('home') }}">INÍCIO</a></li>
        <li><a href="{{ url_for('how_to_use') }}">AGENDAMENTO</a></li>
        <li><a href="{{ url_for('equipment_list') }}">EQUIPAMENTOS</a></li>
        <li><a href="{{ url_for('team') }}">EQUIPE</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin_panel') }}">PAINEL GESTOR</a></li>
            <li><a href="{{ url_for('logout') }}">SAIR</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
        {% endif %}
    </ul>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

{% block content %}{% endblock %}

<footer>
    <p><em>{{ settings.lab_name if settings else 'LABRIOS' }}</em></p>
    <p>LABORATÓRIO DE TECNOLOGIA DA INFORMAÇÃO DO PROFÁGUA - LTIP</p>
</footer>
{% endblock %}
