{% extends "base.html" %}
{% block content %}
<h1>Como Utilizar o Laboratório</h1>
Voltar </>
<section>
    <h2>Regras e Diretrizes</h2>
    {% for r in rules %}
    - {{ r.content }}
    {% else %}
    - Nenhuma regra cadastrada.
    {% endfor %}
</section>
<section>
    <h2>Documentação e Links</h2>
    <hr>
    {% if settings.external_form_link %}
    Formulário Oficial de Uso
    <{{ settings.external_form_link }}>
    {% endif %}

    {% if settings.regimento_pdf %}
    Baixar Regimento (PDF)
    <a href="{{ settings.regimento_pdf }}" target="_blank">Clique aqui</a>
    {% else %}
    Regimento em breve
    {% endif %}
</section>
{% endblock %}
